.card {
  position: relative;
  display: flex;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  clip-path: var(--clip-card);
  -webkit-clip-path: var(--clip-card);
  box-sizing: border-box;
}

.card img {
  display: block;
  margin: 0 auto;
  height: 74%;
  max-width: 100%;
  object-fit: contain;
}

.cardLabel {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--label-height);
  align-items: center;
  background: var(--label-bg);
  color: var(--secondary-color);
  text-align: center;
  line-height: var(--label-height);
  font-weight: bold;
  z-index: 2;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.cardLabel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--line-height-default);
  background: var(--line-color);
  transition: height var(--animation-speed) ease-in-out;
  z-index: -1;
  will-change: height;
}

.card:hover .cardLabel::before {
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 192px;
  }
}
