:root {
  --text-color: #000000;
  --border-color: #000000;
  --label-text-color: #AAAAAA;
}

.text {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: none ;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  color: var(--text-color);
  &::placeholder {
    color: var(--label-text-color);
  }
}